In [ ]:
# Importar la librería de pandas
import pandas as pd
import numpy as np

In [ ]:
# Crear un diccionario de la facultad championship que contenga la carrera, la cantidad de alumnos y año.
dfacultad = {
    'Carrera':['Derecho','TI','Economia','Arquitectura','Derecho','TI','Economia','Arquitectura','TI','TI',np.nan],
    'Cantidad':[2000,3500,4000,900,2500,3500,5000,1000,3500,200,np.nan],
    'Año':[2023.0,2023.0,2023.0,2023.0,2024.0,2024.0,2024.0,2024.0,2023.0,20011.0,np.nan]
}
dfacultad

In [ ]:
'''
Para crear un DataFrame se sigue la siguiente estructura.
Sintaxis:
dfvariable = pd.DataFrame(diccionario)

Nota: la palabra DataFrame debe ser tal cual se plasma en la sintaxis.
'''
dffacultad = pd.DataFrame(dfacultad)

In [25]:
dffacultad

         Carrera  Cantidad      Año
0        Derecho    2000.0   2023.0
1             TI    3500.0   2023.0
2       Economia    4000.0   2023.0
3   Arquitectura     900.0   2023.0
4        Derecho    2500.0   2024.0
5             TI    3500.0   2024.0
6       Economia    5000.0   2024.0
7   Arquitectura    1000.0   2024.0
8             TI    3500.0   2023.0
9             TI     200.0  20011.0
10           NaN       NaN      NaN

In [ ]:
'''
columns: método que me indica las columnas de una DataFrame.
'''
dffacultad.columns

In [ ]:
'''
Para mostrar una columna o columnas en específico solo hay que poner el nombre del 
DataFrame, paréntesis cuadrados[] y una lista [] de las columnas separadas por , a mostrar.
'''
# Mostrar una columna
dffacultad['Carrera']

In [ ]:
# Mostrar varias columnas
dffacultad[['Carrera','Cantidad']]

In [ ]:
'''
drop_duplicates: eliminar los registros duplicados.

Sintaxis:
df.drop_duplicates()
'''
dffacultad

In [ ]:
dffacultad = dffacultad.drop_duplicates()

In [ ]:
dffacultad

In [ ]:
'''
drop: sirve para eliminar filas o columnas.

Sintaxis:
df.drop([lista de índices], axis=0, inplace=True)

inplace: True realiza la operación sobre el mismo DataFrame, lo sobreescribe.
axis: 0 denota que son filas y 1 detona que son columnas.
'''
dffacultad.drop([9],axis = 0, inplace = True)

In [ ]:
dffacultad

In [ ]:
'''
dropna: sirve para eliminar filas o columnas con valores nulos.

Sintaxis:
df.dropna(axis = 0/1,how='all'/'any')
axis: 0 es filas, 1 es columnas.
how: any es para eliminar fila o columna que tenga al menos un valor nulo.
    all es para eliminar fila o columna siempre y cuando todos los valores sean nulos.
'''
# Eliminar las filas en donde todos sus valores sean nulos.
dffacultad = dffacultad.dropna(axis = 0, how = 'all')

In [ ]:
'''
dtypes: es un método que manda una lista con los tipos de datos de cada 
columna de DataFrame.
Las columnas alfanuméricas se almacenan con el tipo de dato object que sería 
el equivalente a str.
'''
dffacultad.dtypes

In [ ]:
'''
astype: método que permite definir los tipos de datos en un DataFrame.
Sintaxis:
df = df.astype(diccionario)
'''
dffacultad = dffacultad.astype({'Carrera':'object','Cantidad':'int64','Año':'int64'})

In [ ]:
# Menti 13

In [ ]:
dffacultad.dtypes

In [ ]:
dffacultad

In [ ]:
'''
head: devuelve las primeras n filas de nuestro DataFrame.
Sintaxis:
df.head(n)
'''
dffacultad.head(4)

In [ ]:
'''
tail: devuelve las últimas n filas de nuestro DataFrame.
Sintaxis:
df.tail(n)
'''

In [ ]:
dffacultad.tail(4)

In [ ]:
'''
at: método que me permite acceder a un valor en específico del DataFrame.
'''
dffacultad.at[1,'Cantidad']

In [ ]:
'''
describe: permite generar estadísticas descriptivas como
conteos
media
desviación stándar
mínimo
máximo
cuartiles

Sintaxis:
df.describe()
'''
dffacultad.describe()

In [ ]:
'''
Para hacer un describe de un campo o campos en específico se utiliza
la siguiente sintaxis:
df[[Lista de columnas]].describe()
'''
# Mostrar el describe del campo 'Cantidad'.
dffacultad[['Cantidad']].describe()

In [ ]:
'''
info: devuelve información (número de filas, número de columnas, índices, 
tipo de de dato de las columnas y memoria usado) sobre el DataFrame.

Sintaxis:
df.info()
'''
dffacultad.info()

In [ ]:
'''
shape: devuelve una tupla con el número de filas y columnas del DataFrame.

Sintaxis:
df.shape
'''
dffacultad.shape

In [ ]:
'''
size: devuelve el número de elementos del DataFrame.

Sintaxis:
df.size
'''
dffacultad.size

In [ ]:
'''
count: cuenta la cantidad de elementos que no son nulos.

Sintaxis:
Todo el df
df.count()

Columnas en específico
df[[Lista de columnas]].count()
'''
dffacultad.count()

In [ ]:
dffacultad[['Carrera']].count()

In [ ]:
# Menti 14

In [ ]:
'''
sum: suma los valores de las columnas.

Sintaxis:
Todo el df
df.sum()

Columnas en específico
df[[Lista de columnas]].sum()
'''
dffacultad.sum()

In [ ]:
dffacultad[['Cantidad']].sum()

In [ ]:
'''
min: muestra el valor mínimo de una columna.

Sintaxis:
Todo el df
df.min()

Columnas en específico
df[[Lista de columnas]].min()
'''
dffacultad.min()

In [ ]:
dffacultad[['Cantidad']].min()

In [ ]:
'''
max: muestra el valor máximo de una columna.

Sintaxis:
Todo el df
df.max()

Columnas en específico
df[[Lista de columnas]].max()
'''
dffacultad.max()

In [ ]:
dffacultad[['Cantidad']].max()

In [ ]:
'''
mean: muestra la media de una columna. Las columnas tiene que ser
int o float.

Sintaxis:
df[[Lista de columnas]].mean()
'''
dffacultad[['Cantidad']].mean()

In [ ]:
'''
Consultas:
Se pueden realizar consultas sobre la información de los DataFrame
por lo general, aunque no es obligatorio, las consultas se guardan
en una variable y luego se muestran.
'''
# Consultar los registros en donde el año sea 2024.
con1 = dffacultad[dffacultad['Año'] == 2024]
con1

In [ ]:
# Consultar los registros en donde la cantidad de alumnos sean mayor a 2000.
con2 = dffacultad[['Carrera','Año']][dffacultad['Cantidad'] > 2000]
con2

In [ ]:
# Consultar todos los registros excepto los de la carrear de TI,
con3 = dffacultad[dffacultad['Carrera'] != 'TI']
con3

In [ ]:
# Consultar la cantidad de alumnos de la carrera de Derecho en 2023
# Cuando son dos condiciones, cada condición se encierrar entre paréntesis
con4 = dffacultad[(dffacultad['Carrera'] == 'Derecho') & (dffacultad['Año'] == 2023)]
con4

In [ ]:
# Importar la librería matplotlib
import matplotlib.pyplot as plt

In [ ]:
'''
Crear una gráfica de barras verticales en donde muestre los alumnos 
por año.
'''

# Definir la figura
fig, ejes = plt.subplots()
# Definir los ejes X y Y
# El método bar es para indicar que queremos una gráfica / diagrama de barras.
ejes.barh(dffacultad['Carrera'],dffacultad['Cantidad'])
#width = 0.1
ejes.set_xlabel("Carrera")
ejes.set_ylabel("Cantidad de alumnos")
ejes.set_title("Cantidad de alumnos por año")
#Mostrar
plt.show()

In [ ]:
'''
Crear una gráfica de barras horizontales en donde muestre los alumnos por carrera.
'''

# Definir la figura
fig, ejes = plt.subplots()
# Definir los ejes X y Y
# El método barh es para indicar que queremos una gráfica / diagrama de barras horizontal.
ejes.barh(dffacultad['Año'],dffacultad['Cantidad'],color = "#4CAF50",height = 0.1 )
#red, #4CAF50
# color = "hotpink" 
# height = 0.1
ejes.set_xlabel("Alumnos")
ejes.set_ylabel("Año")
ejes.set_title("Cantidad de alumnos por Carrera")
#Mostrar
plt.show()

In [ ]:
# Menti 15